<nav class="navbar navbar-dark bg-dark">
  <div class="nav-items">
    <a class="navbar-brand" href="/">
        <p class="nav-title">Block Trade</p>
    </a>
    <div>
      <form class="nav-search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>