<h2>Password Reset</h2>
<p>
    Hello <%= @user.username %>,<br>
    If you have forgotten or would like to change your password, click <%= link_to "here", edit_password_url(@user.reset_password_token) %> to set 
    a new password.
</p>
<p>Happy havings,<br>Coin Expanse</p>