<h2>You dementia-ridden fuck</h2>
<p>
    So <%= @user.username %>... you did a little fucky-wucky and forgot your password.<br>
    After you're all done sobbing and crying for your mommy, you can reset your password
    <%= link_to "here", edit_password_url(@user.reset_password_token) %>.<br>
    And if you decide to be a dumbass forget your password again, well then I guess you'll<br>
    end up having your feelings hurt one more time with this email.
</p>
<p>Love,<br>Coin Expanse</p>