<p>
    So <%= @user.username %>, you did a little fucky wucky and lost your password.
    After you're all done sobbing and crying for your mommy, you can reset your password
    with <$= link_to "this", "/">
</p>