<div id="<%= locals[:name] %>-draggable" class="card text-center shadow" style="width:300px;height:300px">
  <div class="card-header primary text-white"> <%= locals[:name].upcase %> </div>
  <div class="card-body">
  </div>
</div>