<button
  class="btn btn-secondary btn-floating"
  type="button"
  id="dropdownMenuButton2"
  data-mdb-toggle="dropdown"
  aria-expanded="false"
>
  <i class="fas fa-user"></i>
</button>
<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
  <li>
    <%= link_to ('/account'), class: "dropdown-item ripple" do %>
      <i class="fas fa-user-cog text-white"></i>
      My Account
    <% end %>
  </li>
  <li>
  <%= link_to ('/account/edit'), class: "dropdown-item ripple" do %>
    <i class="bi bi-gear"></i>
    Edit Settings
  <% end %>
  </li>
  <li><hr class="dropdown-divider" /></li>
  <li>
    <%= link_to ('/logout'), class: "dropdown-item ripple" do %>
      <i class="fas fa-sign-out-alt"></i>
      Log Out
    <% end %>
  </li>
</ul>