<nav class="navbar navbar-dark bg-dark">
  <div class="nav-items">
    <div class="nav-links">
      <a class="navbar-brand" href="/">
        <p class="nav-title">Block Trade</p>
      </a>
      <ul class="nav-sub-links">
        <li>
          <%= link_to coin_index_path, class: "nav-link" do%>
            <strong>Supported Cryptos</strong>
          <% end %>
        </li>
        <li>
          <%= link_to '/about', class: "nav-link" do%>
            <p>About</p>
          <% end %>
        </li>
      </ul>
    </div>
    <form class="form-box">
      <input class="form-input" type="search" placeholder="Search (under construction)" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>