<%= render 'shared/nav' %>
  <div class="page">
    <% if flash[:notice] %>
        <div class="alert alert-notice order-alert"><%= flash[:notice] %></div>
      <% end %>
    <p class="home-title">Coin Expanse</P>
    <p style="font-size: x-large"><%= "Welcome, #{@current_user.username}"%></p>
    <%= render 'partials/news', :news => @news%>
  </div>