<section class="vh-100 gradient-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://images.hdqwalls.com/download/dogecoin-sw-1080x1920.jpg"
                alt="forgot password"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">


                <%= form_tag '/password/forgot' do %>
                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Enter your email to recieve a password reset link</h3>
                  <div class="form-outline mb-4">
                    <%= text_field_tag :email, "", class: "form-control form-control-lg", id: "email" %>
                    <label class="form-label" for="email">Email</label>
                  </div>
                <% end%>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>