<section class="vh-100 gradient-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <%= image_tag "login.jpg", alt: "login form", class: "img-fluid", style: "border-radius: 1rem 0 0 1rem;" %>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Please provide an email to reset your password</h3>

                <%= form_tag passwords_path, :method => :post do %>
                  <div class="form-outline mb-4">
                    <%= email_field_tag :email, "", class: "form-control form-control-lg", id:"email", required: :true %>
                    <label class="form-label" for="email">Email</label>
                  </div>
                    <div class='actions'>
                    <div class="pt-1 mb-4">
                    <%= submit_tag "Send Reset Email", class: "btn btn-dark btn-lg btn-block", style: "width:100%;"%>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>