<div class="card text-center shadow operation">
  <div class="card-header"> Default Operation </div>
  <div class="card-body">
    <h5 class="card-title"> <%= locals[:name].upcase %> </h5>
    <p class="card-text">
      <% if locals[:name] == 'and' %>
        Conjoin multiple indicators or functions together so that the operation is only successful if <strong>both</strong> functions are satisfied.
      <% elsif locals[:name] == 'or' %>
        Conjoin multiple indicators or functions together so that the operation is only successful if <strong>one or both</strong> function is satisfied.
      <% else %>
        Conjoin multiple indicators or functions together so that the operation is only successful if the function is <strong>not</strong> satisfied.
      <% end %>
    </p>
    <%= link_to "Add to Creation Space", "/strategies/add_card", id: "#{locals[:name]}-button", class: "btn btn-primary", remote: true, method: :post %>
  </div>
</div>