<%= render 'shared/nav' %>

<div class='page'>

  <tbody>
    <div class="index_charts">
    <% @coins.each do |coin| %>
        <h2 class="centered-text"><%= link_to "#{coin.name} average price", coin%></h2>
        <div class="chart" style="boarderColor:green;backgroundColor:black;" id="<%=coin.id%>"></div>
    <% end %>
    </div>
  </tbody>
</div>