<%= render 'shared/nav' %>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Coin Symbol</th>
      <th>Link To Coin Information</th>
      <th?Current Market Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.symbol %></td>
        <td><%= link_to 'Show', coin %></td>
      </tr>
    <% end %>
  </tbody>
</table>