<%= render 'shared/nav' %>

<div class='page'>

  <tbody>
    <% @coins.each do |coin| %>
        
        <div class="card shadow bg-dark mb-3 text-center rounded" style="max-width: 1000rem;">
          <div class="card-header" style="color:white;font-size:30px"><%=coin.name%></div>
          <div class="card-body card-padding">
            <div class="chart" id="<%=coin.id%>" ></div>
            <%=link_to "Details", coin, style:"color:dark-grey", class:"btn btn-light btn-lg"%>
          </div>
        </div>
    <% end %>
  </tbody>
</div>