<%= render 'shared/nav' %>

<div class='page'>
  <table class = "table table-bordered">
  <thead>
    <tr>
      <th>Coin Symbol</th>
      <th>Link To Coin Information</th>
      <th>Current Market Price</th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <%= link_to coin.name, coin %>
      <div class="chart" id="avg">
        <%= render_chart(coin, "average", "avgPrice") %>
      </div>
    <% end %>
  </tbody>
</table>
</div>