<%= render 'shared/nav' %>

<div class='page'>
  <table class = "table table-bordered">
  <thead>
    <tr>
      <th>Coin Symbol</th>
      <th>Link To Coin Information</th>
      <th>Current Market Price</th>
    </tr>
  </thead>

  <tbody>
    <div class="index_charts">
    <% @coins.each do |coin| %>
        <%= link_to coin.name, coin%>
        <div id="<%=coin.id%>"></div>
    <% end %>
    </div>
  </tbody>
</table>
</div>