<%= render 'shared/nav' %>
<div class="page">
  <h1>Supported Cryptos</h1>
  <div>
  <ol>
    <% @coins.each do |coin| %>
      <li><%= link_to coin.name, coin %></li>
    <% end %>
    </ol>
  </div>
</div>