<%= render 'shared/nav' %>

<div class='page'>
  <table class = "table table-bordered">
  <thead>
    <tr>
      <th>Coin Symbol</th>
      <th>Link To Coin Information</th>
      <th>Current Market Price</th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <%= coin.name %>
      <div class="chart" id="avg">
        <%= link_to render_chart(coin, "average", "avgPrice"), coin %>
      </div>
    <% end %>
  </tbody>
</table>
</div>