<%= render 'shared/nav' %>
<div class="page">
  <h1 class="chart_page_title"><%= @coin.name %></h1>
  <div class="show_charts" id="<%=@coin.id%>">
    <div class="chart" id="avg-chart"></div>
    <div class="chart" id="ask-chart"></div>
    <div class="chart" id="bid-chart"></div>
  </div>
</div>