<%= render 'shared/nav' %>
<div class="page">
  <h1 class="chart_page_title"><%= @coin.name %></h1>
  <div class="chart" id="<%=@coin.id%>">
    <div id="avg-chart"></div>
    <div id="ask-chart"></div>
    <div id="bid-chart"></div>
  </div>
</div>