<%= render 'shared/nav' %>

<h1 class="title centered-text"> About Us </h1>

<div class="page">
    <div class="row">
        <div class="card shadow col-4 bg-light mb-3">
            <div class="card-body text-center">
                <div class="card-title">Our App</div>
                <div class="card-header">A new way to trade</div>
                <div class="card-text ">
                    This application centers on a user interface that allows users to manage their 
                    crypto trading in a flexible format. You're able to participate in paper trading 
                    (simulated crypto trading) as well as actual trading. This is a flexible graphical 
                    user interface, meaning that users will not only be able to customize their own 
                    widgets for displaying trading data, but create their own widgets that consist of 
                    a set of existing widgets, helping the user customize their experience with crypto 
                    trading. This is comparable to programs like Scratch, a basic programming interface, 
                    which have drag-and-drop components that allow users to construct something more complex. 
                    Block Trade has that direct functionality, as well as a means for you to upload your own 
                    Ruby code for more customized widgets or displays, and save them to a marketplace for 
                    other users to take advantage of. It's linked to your personal trading account via Binance US.
                </div>
            </div>
        </div>
    </div>
</div>