/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

.nav-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.nav-links {
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  flex: 6;  
}

.nav-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav-sub-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: 1px solid purple;
  align-items: center;
}

.nav-right {
  // border: 1px solid peru;
  display: flex;
  flex: 4;
  flex-direction: row;
  width: 450px;
  justify-content: space-between;
}

.nav-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.form-input {
  border-radius: 10px; /*how rounded the corners of the textbox are */
  padding: 7px;
  width: 80%;
}

.form-button {
  border-radius: 10px; /*how rounded the corners of the textbox are */
  padding: 7px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

li {
  padding-right: 10px;
}

mark {
  padding: 0;
  background-color: lightblue;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5))
}



