/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.nav-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.nav-links {
    // border: 1px solid green;
    display: flex;
    flex-direction: row;
    flex: 6;
}

.nav-link {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav-sub-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: 1px solid purple;
    align-items: center;
    padding-top: 10px;
}

.nav-right {
    // border: 1px solid peru;
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-around;
}

.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.form-input {
    border-radius: 10px;
    /*how rounded the corners of the textbox are */
    padding: 7px;
    width: 80%;
}

.form-button {
    border-radius: 10px;
    /*how rounded the corners of the textbox are */
    padding: 7px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    padding-right: 10px;
}

mark {
    padding: 0;
    background-color: lightblue;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #667eea;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(74, 161, 195, 0.774), rgba(23, 32, 158, 0.568));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient( to right, rgba(74, 161, 195, 0.774), rgba(23, 32, 158, 0.568));
}

.gradient-custom-2 {
    background: -webkit-linear-gradient( to right, rgba(174, 192, 241, 0.986), rgba(53, 10, 97, 0.5));
    background: linear-gradient( to right, rgba(174, 192, 241, 0.986), rgba(53, 10, 97, 0.5));
}

.dropdown-menu>li:first-child {
    margin-top: 15px;
}

.dropdown-menu>li:last-child {
    margin-bottom: 15px;
}

.dropdown-item:hover {
    background-color: rgb(92, 185, 228) !important;
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.primary {
    background-color: #1266F1;
}

.secondary {
    background-color: #F93154;
}

.intermediary {
    background-color: #FFA900;
}

.rsi {
    background-color: #8fdf7c;
}

.stoch {
    background-color: #9886da;
}

.bbands {
    background-color: #a33695;
}

.vwap {
    background-color: #85a7dd;
}

.macd {
    background-color: #e7e57a;
}

#wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden;
    /* will contain if #first is longer than #second */
}

#first {
    width: 300px;
    float: left;
    /* add this */
    border: 1px solid red;
}

#second {
    border: 1px solid green;
    overflow: hidden;
    /* if you don't want #second to wrap below #first */
}

.chart {
    width: 1000px;
    height: 1000px;
}

.chart_page_title {
    padding: 50px;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.card-padding {
    padding: 30px;
}

.order-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input {
    font-size: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.radio {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conversion {
    display: flex;
}

.order-alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
}