<%= render 'shared/nav' %>
<div class="workspace">
  <div class="select">
    <div class="select-container">
      <ul class="nav nav-tabs mb-3" id="select" role="tablist">
        <li class="nav-item w-50" role="presentation">
          <a
            class="nav-link active centered-text"
            id="indicators-tab"
            data-mdb-toggle="tab"
            href="#indicators-content"
            role="tab"
            aria-controls="indicators-content"
            aria-selected="true"
            >Indicators</a
          >
        </li>
        <li class="nav-item w-50" role="presentation">
          <a
            class="nav-link centered-text"
            id="operations-tab"
            data-mdb-toggle="tab"
            href="#operations-content"
            role="tab"
            aria-controls="operations-content"
            aria-selected="false"
            >Operations</a
          >
        </li>
      </ul>
      <div class="tab-content pt-4" id="left-tabs-content">
        <div
          class="tab-pane fade show active"
          id="indicators-content"
          role="tabpanel"
          aria-labelledby="indicators-tab"
        >
          List of Indicators
        </div>
        <div class="tab-pane fade" id="operations-content" role="tabpanel" aria-labelledby="operations-tab">
          <div class="operations">
            <% %w(and or not).each do |operation| %>
              <div style="padding-bottom: 50px">
                <%= render 'partials/operation', locals: { name: operation } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create">
    <div class="create-header">
      <div class="form-outline">
        <%= text_field_tag :strategy_name, "", class: "form-control form-control-lg", id: "strategy_name" %>
        <label class="form-label" for="strategy_name">Strategy Name</label>
      </div>
      
      <div class="create-buttons">
        <strong>Strategy Option:</strong>
        <div class="btn-group">
          <input
            type="radio"
            class="btn-check"
            name="options"
            id="buy-radio"
            autocomplete="off"
            checked
          />
          <label class="btn btn-secondary" for="buy-radio">Buy</label>

          <input type="radio" class="btn-check" name="options" id="sell-radio" autocomplete="off" />
          <label class="btn btn-secondary" for="sell-radio">Sell</label>
        </div>
      </div>
    </div>
    <div class="create-space">
      <div class="create-cards">
      </div>
      <div class="submit">
        <button class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>